@import "tailwindcss";
@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-progress {
  animation: progress 1.2s linear infinite;
}

.upload-container{
  display: flex;
  gap:70px
}

.upload-button{
  width: 200px;
  height:50px;
  border-radius: 5%;
  background-color:rgba(220, 20, 60, 0.26);

}
.file-upload{
 width:200px;
 height: 60px;
  
}
.file-display{
  margin-top: 50px;
}
.span{
  padding: 10px;
}